.ModalBackground {
    /*background-color: rgba(34, 54, 112, 0.75);*/
    background-color: rgba(0, 0, 0, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}