body {
  margin: 0;
  padding: 0;
  background: #2c4694;
  /*color: #1E1E1F;*/
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 24px 24px 0;
  position: relative;
  min-height: 100%;
}